/* File: finalProject.css
   This file contains all the customized css to allow for enhanced layout
   and gesture management such as floats, links, buttons, etc.
*/

/* Use the css float to control left and right screen position of the
   major u/i components. On the first tab the map is displayed on the
   left-hand side and the links and buttons are displayed on the 
   right-hand side.
*/
#map {
    margin: 5px;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}
#locationType {
    float : left;
}
#selectionOption {
    float : right;
}
#directionsMap {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 10px;
    width: 600px;
    height : 600px;
    border: 1px solid black;
}
#directionsPanel {
    float : right;
    width : 30%;
    height : 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 5px;            
}
#photos {
    float : left;
    width : 65%;
}
h3 {
    display : inline;
}
a {
    margin-left: 3px;
    margin-right: 3px;
}
a:link {
    color : blue;
}
a.visited-link {
    color : green;
}
.mapButton, .startFromHereButton, .directionsButton {
    margin-right: 2px;
}
button:hover, a:hover {
    color : red;
}
