
@import url(base.css);

            
.error {
    font-weight: bold;
    color : red;
}

section#deleteCustomer_section {
    margin-bottom : 30px;
}

section table input:hover {
    background-color: lightblue;
}
