
h1 {
    color : green;
    text-align: center;
}
            
button:hover {
    color : red;
}
            
button {
    font-weight: bold;
}
            
.error {
    font-weight: bold;
    color : red;
}

section#deleteCustomer_section {
    margin-bottom : 30px;
}

input:focus {
    border : 2px solid green;
}
            
section table input:hover {
    background-color: lightblue;
}
