
@import url(base.css);

            
label#username_label, label#password_label {
    font-weight : bold;
    color : green;
}    

button {
    font-weight : bold;
    font-size: 16px;
}
           
a {
    color : green;
    font-weight : bold;
}
            
#loginFailed {
    color : red;
}
            
#newRegistration {
    color : green;
    font-weight : bold;
}
