
@import url(base.css);

            
table#Purchases {
    border : 1px solid black;
    border-spacing : 2px;
}
            
table#Purchases th, table#Purchases td {
    border : 1px solid black;
    padding : .2em .7em;
    text-align: left;
}
            
span {
    font-weight : bold;
    color : green;
}
            
div#payment_div {
    margin-top: 25px;
}

/* show nice background color for all table column headers */
table thead {
    background-color: lightgreen;
}
            
table tbody {
    background-color: lightgrey;
}
            
/* Allow alternating rows for grey and white in the tables */
tr:nth-of-type(even) { 
    background-color: white;
}
