
@import url(base.css);

label {
    float : left;
    width : 8em;
    font-weight : bold;
    color : green;
    text-align: right;
}
            
input, select {
    width : 20em;
    margin-left : 1em;
    margin-bottom : .5em;
}
            
            
#register_button, #reset {
    width : 7em;
    box-shadow : 2px 2px 0 silver;
    background-color : silver;
    margin-top: 20px;
    margin-left: 25px;
}

#reset_button {
    width : 7em;
    box-shadow : 2px 2px 0 silver;
    background-color : silver;
    margin-left: 25px;
    margin-top: 20px;
}
            

/* attribute selector for giving background of lightblue when hovered */
input[type="text"]:hover {
    background-color: lightblue;
}

input[type="password"]:hover {
    background-color: orange;
}

span.showError {
    color : red;
    margin-left : 10px;
}
