/* This is the full set of css3 rules for the main bookstore page */

@import url(base.css);

           
caption {
    font-weight : bold;
}
            
#admin_nav {
    text-align : right;
}
            
#admin_nav li {
    display: inline;
    padding : 0 0.5em;
    border-right: 1px solid black;
}
            
#search_div {
    float : right;
}
            
#bookCatagory_div, #debug_div {
    float : left;
}
            
table {
    border : 1px solid black;
    border-spacing : 2px;
}
            
th, td {
    border : 1px solid black;
    padding : .2em .7em;
    text-align: left;
}
            
table#cart {
    text-align : center;
}
            
span, #search_label, #bookCatagory_label {
    font-weight: bold;
    color : green;
}
            
p > span {
    font-weight: bold;
    color : purple;
}
            
#radio_title, #radio_author {
    color : green;
}
            
#bookCategory {
    margin-bottom : 20px;
    width : 15em;
}
            
#searchField:hover {
    background-color: lightblue;
}
            
table#books, table#cart, #dataTables_wrapper {
    margin-top: 20px;
}
            
div#detail_book_div {
    margin-top: 60px;
    margin-left: 10px;
}


/* show nice background color for all table column headers
   The special css below will override any css in the imported css file */
table thead {
    background-color: lightgreen;
}
            
table tbody {
    background-color: lightgrey;
}
            
/* setup pseudo class selectors on links */
a:link {
    color : green;
}
            
a:visited {
    color : blue;
}
            
a:hover {
    color : red;
}
            
/* Allow alternating rows for grey and white in the tables */
tr:nth-of-type(even) { 
    background-color: white;
}
            
/* set the price cell to lightblue */
tfoot tr > td + td + td {
    background-color : lightblue;
}
            
/* set the cell of clear cart to be orange */
tfoot tr > td + td + td + td {
    background-color: orange;
}
            
/* set the text of the clear button to red */
tfoot tr > td + td + td + td > button {
    color : red;
    font-weight: bold;
}
            
/* set clear button to darkgreen when user hovers over the button */
tfoot tr > td + td + td + td > button:hover {
    color : darkgreen;
}
