

h1 {
    color : green;
    text-align: center;
}

label {
    font-weight: bold;
    color : green;
}

button {
    font-weight : bold;
    font-size : 16px;
}

#error {
    font-weight : bold;
    color : red;
}
