

h1 {
    text-align: center;
    color : green;
}
            
a:hover, button:hover {
    color : red;
}
            
span {
    font-weight: bold;
    color : purple;
}
            
table {
    border : 1px solid black;
    border-spacing : 2px;
}
            
th, td {
    border : 1px solid black;
    padding : .2em .7em;
    text-align: left;
}

/* show nice background color for all table column headers */
table thead {
    background-color: lightgreen;
}
            
table tbody {
    background-color: lightgrey;
}
            
/* Allow alternating rows for grey and white in the tables */
tr:nth-of-type(even) { 
    background-color: white
}
